<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Testing Nat Tranlations</title>
</head>
<body>
    <h1>Enter Public IP Address for NAT: </h1>
    <form method="post" action="/">
        <div class="form-group">
            <input type="text" name="Public_IP">
	    <input type="text" name="Private_IP">
        </div>
        <input class="btn btn-primary" type="submit" value="submit">
    </form>

</body>
</html>
